// FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

// Variables

    //DARK BLUE 
    $base-blue: #01202F;
    $dark-blue: #023047;
    $blue-gray: #567584;
    $blueish: #6295FF;

    // WHITE
    $white-100: #ffffff;
    $white-80: #ffffffcc;

    // CYAN
    $cyan-100: #00ffff;

    //REDISH
    $red-100: #ff5656;

    // FACEBOOK
    $facebook-color: #4267B2;
    //LINKED IN
    $linked-in-color: #0072b1;

    // GITHUB
    $github-color: #171515;
// Themes
*{
    box-sizing: border-box;
    user-select: none;
}
html, body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    color: $base-blue;
    overflow-x: hidden;
}
// APP CONTAINER
.app-wrapper{
    width: 100%;
    height: 100vh;
}
input,textarea{
    padding: 5px;
    font-family: 'Poppins';
    width: 100%;
}
.btn{
    font-family: 'Poppins';
    background-color: transparent;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    opacity: 1;
    cursor: pointer;
}
.btn:hover{
    opacity: .8;
}

::-webkit-scrollbar{
    width: 0.1px;
}


.bg-dark-blue{
    background-color: $base-blue;
}
.bg-white{
    background-color: $white-100;
}
.bg-cyan{
    background-color: $cyan-100;
}
.bg-red{
    background-color: $red-100;
}

/* ANIMATIONS */
@keyframes AnimateDivider {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
@keyframes SlideLeft{
    from{
        left: -100%;
    }
    to{
        left: 0;
    }
}
@keyframes SlideRight{
    from{
        right: -100%;
    }
    to{
        right: 0;
    }
}
@keyframes Bounce{
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-30px); }
    100% { transform: translateY(0); }
}