// IMPORT STYLES
@import "index";

//Header Container
.header-wrapper{
    background-color: $dark-blue-100;
    color: $white-100;
    width: 100%;
    height: 100vh;
    padding: 0 0 0px 0;
    margin: 0;
    
    // NAVIGATION BAR CONTAINER
    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: $dark-blue-90;
        z-index: 3;
        

        // LOGO
        .logo-name{
            font-weight: 800;
            font-size: 30px;
            padding: 10px;
            cursor: pointer;
            line-height: 30px;
        }

        // INLINE NAVIGATION BAR
        .nav-items{
            display: block;
            position: relative;
            margin: 0;
            padding: 0;
            width: 300px;
            height: 50px;
            font-size: 0;

            // INLINE NAV ITEM
            .nav-item{
                font-size: 15px;
                text-transform: uppercase;
                color: $white-100;
                text-decoration: none;
                list-style-type: none;
                line-height: 50px;
                position: relative;
                z-index: 1;
                display: inline-block;
                text-align: center;
                cursor: pointer;
                font-weight: 600;
            }

            .nav-item:nth-child(1){
                width: 90px;
            }
            .start-about, .nav-item:nth-child(1):hover~.animation{
                width: 90px;
                left: 0;
            }
            .nav-item:nth-child(2){
                width: 105px;
            }
            .start-skill, .nav-item:nth-child(2):hover~.animation{
                width: 105px;
                left: 90px;
            }
            .nav-item:nth-child(3){
                width: 105px;
            }
            .start-project, .nav-item:nth-child(3):hover~.animation{
                width: 105px;
                left: 200px;
            }

            // ANIMATION HOVER
            .animation{
                position: absolute;
                height: 3px;
                bottom: 0;
                left: 0px;
                z-index: 0;
                background-color: $cyan-100;
                transition: all .5s ease 0s;
                transform: skew(-20deg);
            }
        }
        
        // NAVIGATION ICON
        .menu-bar{
            display: none;
            justify-content: center;
            align-items: center;
            padding: 10px;
            z-index: 6;
            overflow: hidden;
            cursor: pointer;

            // MENUBAR ICON
            .bar{
                background-color: $white-100;
                width: 30px;
                height: 5px;
                border-radius: 2px;

                &::before,
                &::after{
                    content: '';
                    position: absolute;
                    background-color: $white-100;
                    width: 30px;
                    height: 5px;
                    border-radius: 2px;
                }

                &::before{
                    transform: translateY(-10px);
                }
                &::after{
                    transform: translateY(10px);
                }
            }

            &.open{
                .bar{
                    transform: translateX(-50px);
                    transition: all .5s ease 0s;

                    &::before{
                        transform: rotate(45deg) translate(35px, -35px);
                        transition: all .5s ease 0s;
                    }
                    &::after{
                        transform: rotate(-45deg) translate(35px, 35px);
                        transition: all .5s ease 0s;
                    }
                }
            }

        }

        // RESPONSIVE NAVIGATION
        .menu-bar-items{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: $dark-blue-90;
            width: 100%;
            height: 100vh;
            text-decoration: none;
            list-style-type: none;
            margin: 0;
            padding: 0;

            .menu-bar-item{
                width: 250px;
                padding: 10px 0;
                font-size: 35px;
                text-align: center;
                text-transform: uppercase;
                font-weight: 600;

                &:hover{
                    background-color: $white-100;
                    color: $dark-blue-100;
                    transition: all .5s ease 0s;
                }
            }
        }
    }

    // HEADER BANNER
    .header-banner{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        
        // BANNER CONTENT
        .banner-content{
            overflow: hidden;
            padding: 30px 0 0 0;

            // GREET TEXT
            .greet-text{
                width: 150px;
                padding: 3px 10px;
                background-color: $cyan-100;
                color: $dark-blue-100;
                font-size: 25px;
                font-weight: 500;
                border-radius: 5px;
                text-align: center;
                animation: Bounce 1s 0s ease;
            }

            // NAME TEXT
            .name-text{
                position: relative;
                margin-top: 10px;
                font-size: 35px;
                font-weight: 600;
                animation: Bounce 1s .1s ease;
            }

            // CAREER TEXT
            .career-text{
                position: relative;
                text-align: center;
                font-size: 40px;
                font-weight: 700;
                animation: SlideRight 1.5s 0s ease;
            }
        }
    }
}