// IMPORT STYLES
@import 'index';

// SECTION CONTAINER
.section-container{
    width: 100%;
    min-height: 100vh;

    section{
        padding: 40px;

        .section-title{
            font-size: 30px;
            font-weight: 800;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .sub-title{
            padding: 10px 0 0 0;
            font-size: 20px;
            font-weight: 800;
        }
        
        // SECTION ABOUT
        &.section-about{
            .sub-title{
                width: 160px;
                padding-left: 0;
            }

            // PERSONAL INFO
            .personal-wrapper{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px;

                // CARD
                .personal-card{
                    display: flex;

                    // CARD LEFT
                    .card-left{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 30px 30px 30px;
                        height: 400px;
                        object-fit: cover;

                        img{
                            height: 100%;
                            border-radius: 40%;
                        }
                    }

                    // CARD RIGHT
                    .card-right{
                        width: 400px;
                        padding: 30px;
                        text-align: justify;
                        position: relative;

                        // DOWNLOAD BUTTOn
                        a{
                            position: absolute;
                            bottom: 20px;
                            left: 30px;
                            background-color: $dark-blue-100;
                            justify-content: center;
                            color: $white-100;
                            text-decoration: none;
                            text-transform: uppercase;
                            padding: 10px 20px;
                            font-size: 16px;
                            font-weight: 600;
                            border-radius: 10px;
                            box-shadow: 0 2px 8px $dark-blue-90;
                            transition: all .4s ease 0s;

                            &:hover{
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
            
        }
        // END ABOUT

        // SECTION SKILLS
        &.section-skills{
            .skills-content{
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                grid-gap: 40px;
                padding: 40px 0 20px 30px;

                // CARD
                .skill-card{
                    position: relative;
                    overflow: hidden;
                    max-width: 120px;
                    height: 120px;
                    box-shadow: 0 2px 10px $dark-blue-90;
                    color: $dark-blue-100;
                    border-radius: 10px;
                    text-align: center;

                    img{
                        background-size: cover;
                        background-position: center;
                        width: 100%;
                        height: 100%;
                    }
                    .hover-effect{
                        display: none;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: $dark-blue-90;
                        width: 100%;
                        height: 100%;
                        word-wrap: break-word;

                        span{
                            position: absolute;
                            top: 0%;
                            transform: translate(-50%,200%);
                            color: $white-100;
                            font-size: 1rem;
                            font-weight: 600;
                        }
                    }

                    &:hover{
                        transform: scale(1.2);
                        transition: all .5s ease 0s;
                        .hover-effect{
                            display: block;
                        }
                    }
                    
                }
            }
        }
        // END SKILLS

        // SECTION PROJECT
        &.section-project{
            .project-content{
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(3, 1fr);
                overflow-y: auto;
                max-height: 600px;
                padding: 30px 0 20px 20px;
                margin-top: 20px;

                &::-webkit-scrollbar-thumb{
                    background-color: transparent;
                }

                &:hover::-webkit-scrollbar-thumb{
                    background-color: $dark-blue-100;
                }
                
                .project-card{
                    box-shadow: 0 2px 10px $dark-blue-100;
                    width: 380px;
                    border-radius: 5px;
                    overflow: hidden;

                    .card-img{
                        position: relative;
                        height: 230px;
                        padding: 5px;

                        img{
                            background-size: contain;
                            background-position: center;
                            width: 100%;
                            height: 100%;
                        }

                        .hover-effect{
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: none;
                            justify-content: center;
                            align-items: center;
                            background-color: $dark-blue-80;
                            grid-gap: 10px;
                            

                            .icon{
                                font-size: 30px;
                                padding: 0 15px;
                                background-color: $white-100;
                                border-radius: 10px;
                                cursor: pointer;
                                color: $dark-blue-100;

                                &:hover{
                                    opacity: .5;
                                }
                                
                            }
                        }

                        &:hover .hover-effect{
                            display: flex;
                            transition: all 1.5s ease 0s;
                        }
                    }
                    .card-text{
                        .card-title{
                            padding: 2px 0 2px 15px;
                            font-size: 30px;
                            font-weight: 600;
                            
                        }
                        
                        .description{
                            padding: 0 15px 10px 15px;
                            margin: 0;
                            text-align: justify;
                            text-indent: 1em;
                        }
                    }

                    .card-icons{
                        display: grid;
                        grid-template-columns: repeat(5,auto);
                        grid-gap: 5px;
                        padding: 10px;
                        text-align: center;

                        .card-icon{
                            background-color: $dark-blue-100;
                            padding: 5px 8px;
                            font-size: 13px;
                            font-weight: 500;
                            color: $white-100;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
        // END PROJECT

        // SECTION_CONTACT
        &.section-footer{ 
            background-color: $dark-blue-100;
            color: $white-100;
            display: flex;
            justify-content: center;
            align-items: center;

            .footer-content{
                .social-links{
                    display: flex;
                    justify-content: center;
                    grid-gap: 10px;

                    .icon{
                        padding: 2px 12px;
                        background-color: $white-100;
                        font-size: 28px;
                        color: $dark-blue-100;
                        border-radius: 5px;
                    }

                }
                .rights-text{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    margin-top: 15px;
                }
            }
        }
        // END CONTACT
    }
}